
.jumbotron {
    box-sizing: content-box;
    background-image: url("mtn-trail.jpg");
    min-height: 20vh;
    background-size: auto;
}
#title {
    font-size: 10vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.tableHeaders {
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
html,body{
    height: 100vh;
}
#footer {
    margin-top: 50px;
    height: 25vh;
    left: 0;
    position: absolute;
    right: 0;
  }
  .background {
      background-image: url("adventure-alpine-background.jpg");
      background-size: auto;
      min-height: 100vh;
  }